{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
    <title>Ingreso al Control de Facturas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login and Registration Form with HTML5 and CSS3"/>
    <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="{% static '' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate-custom.css' %}"/>
   <!-- Functions -->
    <script src="{% static 'js/functions.js' %}"></script>
    {% block head %}

    {% endblock %}
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>